.card {
  display: flex;
  flex: 0 0 30%;
  height: 150px;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 5%;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

.card:hover {
  box-shadow: 5px 5px #AAAAAA;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.half {
  flex: 1;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.space-right {
  margin-right: 20px;
}

.space-above {
  margin-top: 10px;
}

.input-format {
  width: 100%;
  height: 2em;
}

.container {
  margin: 50px;
}

.header {
  text-align: center;
}

.increase-input-size {
  width: 20px;
  height: 20px;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-sub {
  vertical-align: sub;
}

.image-container {
  height: 100%;
  width: 150px;
}

.image {
  height: 100%;
  border-radius: 5%;
}

.content-container {
  width: 245px;
}

.text-container {
  padding: 20px 0 0 10px;
  height: 75px;
  font-size: 14px;
}

.p-margin {
  margin: 5px 0;
}

.horizontal-line-width {
  width: 90%;
}

.languages-container {
  text-align: center;
}

.resize-language-image {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}